/* Nav bar style  */

nav {
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  height: 120px;
  background-color: #4056A1;
  box-sizing: border-box;
  padding: 1.5em;
}

nav span {
  display: inline-block;
}


.span_new_tweet {
  float: right;
  font-size: medium;
}


.logo {
  max-width: 100px;
  margin: 3px;

}


.logo_div {
  display: flex;
  justify-content: flex-start;
}