/* styling for new tweet view  */

/* .new-tweet {
  margin: 0 2em;
  padding: 1em;
  background-color: rgb(218, 234, 240);
  border: 2px solid lightgray; 
  border-radius: 7px;

}

.new-tweet > h2{
  margin-top: 0em;
  border-bottom: 2px solid rgb(37, 36, 36);
} */


.counter {
  float: right;
  font-family: 'Bungee', cursive;
}

.text-area-tweet {
  border: none;
  border-bottom: 5px solid rgb(224, 172, 59);
  width: 100%;
  color: black;
  background-color: transparent;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 1em;

}


.icon{
  position:absolute;
  left:18px;
  top:9px;
  font-size:30px;
}


.tweet {
  margin: 1.5rem 0 1.5rem 0;
  border: 3px solid black;
  background-color: antiquewhite;
}

.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  padding: 1rem;
  background-color: antiquewhite;
  width: 90%;
}

.tweet header div {
  display: flex;
  flex-direction: row;
}


.tweet > p {
  padding-left: 1.5rem;
  font-size: x-large;
}

.tweet header > p {
  color: rgb(99, 132, 204);
  font-size: small;

}

.tweet img {
  height: 5rem;
  display: inline-block;
}


.tweet footer {
  border-top: 3px solid black;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}

.tweet footer > p {
  font-size: medium;
}


.error-msg {
  color: rgba(161, 34, 34, 0.795);
  font-size: large;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 1em;
  padding: 0.5rem;
  border: 3px solid red;
  text-align: center;
  border-radius: 7px;
  background-color: #fdc459;
}